/*== About Page Start ==*/
#about-page-wrap {
  .about-video-wrap {
    position: relative;

    &:after {
      background-color: @brand-color;
      content: '';
      position: absolute;
      .opacity(0.5);
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .video-content {
      z-index: 1;

      .btn-play {
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
        z-index: 1;
      }
    }
  }

  .about-right-content {
    .font-size(16);

    h2 {
      margin-top: -11px;
      margin-bottom: 10px;
    }

    .btn-brand {
      background-color: @brand-color;
      color: @white;
      margin-top: 17px;

      &:hover {
        background-color: @black-soft;
      }
    }
  }
}

.aboutlist {
  margin-top: 25px;
  .font-size(16);
  li {
    margin-bottom: 10px;

    span {
      margin-right: 15px;
    }
  }
}

#technical-person {
  background-color: @section-bg;
  .font-size(16);
  &.section-padding {
    padding-bottom: 0;
  }

  .technical-support {
    .btn {
      background-color: @brand-color;
      color: @white;
      margin-top: 25px;
      margin-bottom: 35px;
      padding: 20px 55px;

      &:hover {
        background-color: @black-soft;
      }
    }
  }
}

#testimonial-area {
  .testimonial-content-wrap {
    .single-testimonial-item {
      .font-size(16);
      border: 2px solid @brand-color;
      .border-radius(30px);
      padding: 30px 40px 85px;
      position: relative;
      margin-bottom: 23px;

      i.fa {
        .font-noline(22);
        .opacity(0.2);
        margin-bottom: 10px;
      }

      .client-area {
        position: absolute;
        left: 20px;
        bottom: -25px;

        .client-pro-pic {
          display: block;
          margin-right: 15px;

          img {
            max-width: 120px;
            border: 5px solid @brand-color;
            .border-radius(15px);
          }
        }

        .client-info {
          margin-top: 10px;
          h3 {
            margin-bottom: 0;
            line-height: 1.2;
          }
          .client-degi {
            .font-noline(13);
            .font-weight(600);
          }
        }
      }
    }

    #testimonialContent {
      .owl-nav {
        margin-top: 40px;
        .owl-nav-item {
          outline: none;
          background-color: @brand-color;
          .font-noline(20);
          color: @white;
          padding: 25px 40px !important;
          .transition(0.4s);

          &:hover, &:active {
            background-color: @brand-color-dark;
          }

          &.owl-prev {
            .border-radius(100px 0 0 100px);
          }
          &.owl-next {
            .border-radius(0 100px 100px 0);
          }
        }
      }
    }
  }
}

#we-featured {
  background-color: @section-bg;
  padding: 60px 0;

  .single-feature-item {
    background-color: @white;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    .transition(0.3s);

    &:hover {
      .box-shadow(1px 8px 14px 0px rgba(0, 0, 0, 0.2));
    }

    a {
      display: block;
    }

    img {
      max-width: 110px;
    }
  }
}

/*== About Page End ==*/