/* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .is_admin_bar_showing, .is_admin_bar_showing.fixed{
    top: 32px;
  }

  #banner-area {
    padding-top: 235px;

    .banner-content-wrap {
      .btn-brand {
        margin: 60px 0 90px;
      }
    }
  }

  #products-area{
    .products-filter-menu{
      .filter-navbar{
        ul{
          justify-content: space-between;
          flex-wrap: nowrap;
          li{
            .font-size(18);
            padding: 30px;
          }
        }
      }
    }
  }

  #footer-area {
    .footer-bottom-area {
      padding-bottom: 40px;
    }
  }
}

//end media quaries

/*Extra Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 1400px) {
  html, body, #banner-area, #banner-area div {
    height: 100%;
  }

  #banner-area {
    .featured-products-area, .featured-products-area * div {
      height: auto;
    }
    .featured-products-area{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

//end media quaries