/* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .is_admin_bar_showing, .is_admin_bar_showing.fixed {
    top: 32px;
  }

  #banner-area {
    padding-top: 235px;

    .banner-content-wrap {
      .btn-brand {
        margin: 60px 0 90px;
      }
    }
  }

  #products-area {
    .products-filter-menu {
      .filter-navbar {
        ul {
          justify-content: space-between;
          flex-wrap: nowrap;
          li {
            .font-size(18);
            padding: 30px;
          }
        }
      }
    }

    .products-content-wrap {
      .product-loadmore-btn {
        margin-top: 80px;
      }
    }
  }

  #we-are-best-area {
    .we-best-content-wrap {
      .single-we-best-item {
        .font-size(16);
      }
    }
  }

  #footer-area {
    .footer-bottom-area {
      padding-bottom: 40px;
    }
  }

  .products-header-wrap {
    padding-top: 200px;

    .product-header-content {
      p {
        max-width: 60%;
      }
    }

    .product-thumbnail-carousel {
      margin-top: 80px;
    }
  }

  .product-description {
    .product-description-wrap {
      &:after {
        margin-top: 0;
        position: absolute;
        height: 100%;
        width: 50%;
      }
    }
  }
}

//end media quaries

/*Extra Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 1400px) {
  //html, body, #banner-area, #banner-area div{
  html, body, #banner-area, #banner-area div {
    //height: 100%;
    //height: 1vh;
  }

  #banner-area {
    .featured-products-area, .featured-products-area * div {
      height: auto;
    }
    .featured-products-area {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

//end media quaries