/* Small Devices (Landscape Phones, 576px and up) */
@media only screen and (min-width: 576px) {
  #banner-area {
    padding-top: 150px;

    .banner-content-wrap {
      .btn-brand {
        margin: 20px 0 0;
      }
    }
  }

  #products-area{
    .products-filter-menu{
      .filter-navbar{
        ul{
          justify-content: center;
          flex-wrap: wrap;
          li{
            .font-size(13);
            padding: 15px 10px;
          }
        }
      }
    }

    .products-content-wrap{
      .product-loadmore-btn{
        margin-top: 30px;
      }
    }
  }

  #footer-area {
    .footer-bottom-area {
      padding-bottom: 20px;
    }
  }

  .products-header-wrap {
    padding-top: 150px;

    .product-header-content {
      p {
        max-width: 100%;
      }
    }

    .product-thumbnail-carousel{
      margin-top: 0;
    }
  }

  .single-product-info{
    .product-information{
      flex-wrap: wrap;
      margin-top: -30px;
      justify-content: flex-start;

      .information-item{
        margin-top: 30px;
        width: 33.333%;
      }
    }
  }

  .product-description{
    .product-description-wrap{
      &:after{
        margin-top: 30px;
        position: static;
        height: 350px;
        width: 100%;
      }
    }
  }
}

//end media quaries