/*--== Footer Area Start ==-*/
#footer-area {
  background-image: url(../../assets/images/home/footer-banner-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .footer-widgets-area {
    color: @body-color-alt;
    .single-footer-widgets {
      .about-widgets {
        .footer-logo {
          max-width: 140px;
          margin-bottom: 20px;
        }
        .social-icons {
          margin-top: 25px;
          a {
            color: @black-soft;
            margin-right: 10px;
            .transition();
            .font-size(25);

            &:hover {
              color: @brand-color;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .widget-title {
        .font-size(12);
        font-family: @font-family-os;
        color: @brand-color;
        .font-weight(700);
        text-transform: uppercase;
        margin-bottom: 25px;
        letter-spacing: 1.5px;
      }
    }
  }

  .footer-bottom-area {
    .font-size(11);
    .font-weight(700);
    text-transform: uppercase;
    color: @black-soft;
    letter-spacing: 1.5px;
    padding-bottom: 40px;
    .footer-menu {
      ul {
        li {
          display: inline;
          margin-right: 50px;

          &:last-child {
            margin-right: 0;
          }
          a {
            .font-size(11);
            color: @black-soft;
          }
        }
      }
    }
    .copyright-area {
      p {
        //margin-bottom: 0;
      }
      a {
        color: @black-soft
      }
    }
  }

  #guarantee {
    margin-top: -30px;
    margin-bottom: 50px;

    .container {
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 30px 35px 119px 0 rgba(0, 0, 0, 0.16);
    }

    .cbxinner{
      &.cbxinnerlite {
        padding: 70px 0 0 0;
        background: #ffffff;
      }
    }
    .col-md-4 {
      position: relative;
      &:before {
        position: absolute;
        content: '';
        top: -30px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 20px;
        display: block;
        background-image: url("../../assets/images/home/support_divider_dot.png");
      }
      &:after {
        position: absolute;
        content: '';
        top: -20px;
        left: 50%;
        width: 50%;
        height: 2px;
        background-image: url("../../assets/images/home/support_divider_dotline.png");
        background-position: right;
      }
      .single-area {
        position: relative;
        width: 100%;
        text-align: center;
        background: #ffffff;
        padding: 30px 0;
      }
      .single-area {
        p{
          .guarantee-title {
            font-weight: 700;
            font-size: 19px;
            color: #12c9fe;
            text-transform: uppercase;
            line-height: 33px;
            margin-top: 25px;
            display: block;
          }
          .guarantee-subtitle {
            font-weight: 900;
            font-size: 25px;
            color: #777;
            line-height: 45px;
          }
        }
      }
    }
    .single-area-2{
      &:after {
        left: 0;
        width: 100%;
      }
    }
    .single-area-3{
      &:after {
        left: auto;
        right: 50%;
      }
    }
  }
}
/*--== Footer Area End ==-*/