/*TYPOGRAPHY*/
/* importing mixing and variables */
html {
  font-size: 62.5%;
}
/* Rules For Body Contents */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  color: #3a3b3c;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto', sans-serif;
  color: #0a1825;
  font-weight: 700;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
.h1 span,
.h2 span,
.h3 span,
.h4 span,
.h5 span,
.h6 span {
  color: #fee53c;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
h1,
.h1 {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.5;
  font-weight: 700;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  h1,
  .h1 {
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 992px) {
  h1,
  .h1 {
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.5;
  }
}
h2,
.h2 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.5;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  h2,
  .h2 {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  h2,
  .h2 {
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 992px) {
  h2,
  .h2 {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 1.5;
  }
}
h3,
.h3 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.5;
}
h4,
.h4 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 700;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  h4,
  .h4 {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  h4,
  .h4 {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 992px) {
  h4,
  .h4 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.5;
  }
}
h5,
.h5 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5;
}
h6,
.h6 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
ul,
ol {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
}
.double-list li {
  float: left;
  width: 50%;
}
p {
  margin-bottom: 10px;
}
figure {
  margin: 0;
}
a,
a:hover,
a:focus {
  color: #12c9fe;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: all 0.3s ease-out;
}
strong {
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.unorderlist {
  font-family: 'Open Sans', sans-serif;
}
.unorderlist li {
  margin-bottom: 10px;
}
.unorderlist li:last-child {
  margin-bottom: 0;
}
.unorderlist li a {
  color: #999999;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
  transition: all 0.3s ease-out;
  text-transform: capitalize;
}
.unorderlist li a:hover {
  color: #0197c3;
}
.section-padding {
  padding: 100px 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .section-padding {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .section-padding {
    padding: 70px 0;
  }
}
@media screen and (min-width: 992px) {
  .section-padding {
    padding: 100px 0;
  }
}
.section-title-wrap {
  margin-bottom: 80px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
.section-title-wrap h2 {
  margin-top: -12px;
}
#banner-area.entry-header {
  padding: 180px 0 86px;
  height: auto !important;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #banner-area.entry-header {
    padding: 115px 0 43px;
  }
}
#banner-area.entry-header .banner-content-wrap h1 {
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 19px;
}
#banner-area.entry-header .banner-content-wrap h2 {
  margin: 0;
  color: #fff;
  font-weight: 400;
}
.btn-brand {
  background-color: #edf4f8;
  border-radius: 50px;
  color: #0a1825;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 15px 55px;
  text-transform: capitalize;
  transition: all 0.4s ease-out;
}
.btn-brand:hover,
.btn-brand:focus {
  background-color: #12c9fe;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-brand {
    padding: 10px 25px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .btn-brand {
    padding: 15px 45px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 992px) {
  .btn-brand {
    padding: 15px 55px;
  }
}
.btn-load {
  border-radius: 5px;
  background-color: #0a1825;
  color: #fff;
  text-transform: uppercase;
  padding: 22px 60px;
}
.btn-play {
  background-color: #fff;
  border-radius: 50%;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1;
  line-height: 110px;
  display: block;
  text-align: center;
  width: 115px;
  height: 115px;
}
.btn-play:hover {
  background-color: #0a1825;
  color: #fff;
}
.btn-play i.fa {
  padding-left: 5px;
}
.mfp-content {
  margin: 50px 0;
}
.mfp-content .mfp-close {
  width: 40px;
  height: 40px;
  background-color: #12c9fe;
  border-radius: 50%;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-align: center;
  padding: 0;
  transition: all 0.4s ease-out;
  top: -3px;
  right: -3px;
  outline: none;
}
.mfp-content .mfp-close:hover {
  background-color: #0197c3;
  cursor: pointer;
}
.mfp-content .mfp-iframe {
  border: 10px solid #12c9fe;
  padding: 0;
  border-radius: 10px;
}
.mfp-content .mfp-figure figure img,
.mfp-content .mfp-figure figure iframe {
  border: 10px solid #12c9fe;
  padding: 0;
  border-radius: 10px;
}
/*--== Hedaer Area Start ==--*/
#header-area {
  padding: 30px 0;
  transition: all 0.3s ease-out;
}
#header-area .navbar {
  padding: 0;
}
#header-area .navbar .navbar-toggler {
  background-color: #12c9fe;
  color: #fff;
  padding: 0;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 2px;
  box-shadow: none;
  outline: none;
  height: 35px;
  width: 45px;
}
#header-area .navbar .navbar-brand {
  max-width: 130px;
  padding: 0;
}
#header-area .navbar .navbar-nav li {
  margin-left: 45px;
}
#header-area .navbar .navbar-nav li:first-child {
  margin-left: 0;
}
#header-area .navbar .navbar-nav li a {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-transform: capitalize;
  transition: all 0.4s ease-out;
}
#header-area .navbar .navbar-nav li a:hover {
  color: #5edafe;
}
#header-area.fixed {
  background-color: #0a1825;
  padding: 10px 0;
}
.c-offcanvas--overlay {
  z-index: 1031;
}
.c-offcanvas {
  right: 0;
  padding: 0rem;
  overflow-y: scroll;
  background-color: #000;
  color: #fff;
}
.js-offcanvas a {
  outline: 0;
}
.js-offcanvas .dropdown-menu {
  position: relative;
  border: none;
}
.offcanvaswrap .navbar-brand {
  padding: 20px !important;
}
.offcanvaswrap .offcanvaswrap_menus .dropdown-menu.show {
  position: static !important;
  background-color: #2a2e30;
  transform: none !important;
  border-radius: 0;
}
.offcanvaswrap .offcanvaswrap_menus .menu-item a.dropdown-toggle:after {
  border: 0px !important;
  float: right;
  text-indent: -99999px;
  width: 16px;
  height: 32px;
}
.offcanvaswrap .offcanvaswrap_menus a {
  color: #fff;
  padding: 5px 20px;
  border-bottom: 1px solid #fff;
}
.offcanvaswrap .offcanvaswrap_menus a:hover,
.offcanvaswrap .offcanvaswrap_menus a:focus {
  background-color: transparent;
  color: #fff;
}
.offcanvaswrap .offcanvaswrap_menus #menu-main-menu li a {
  text-transform: uppercase;
}
.offcanvaswrap .offcanvaswrap_menus #menu-main-menu li ul {
  padding: 0px;
}
.offcanvaswrap .offcanvaswrap_menus #menu-main-menu li ul li a {
  border-bottom: 1px solid #12c9fe;
}
.offcanvaswrap .offcanvaswrap_menus #menu-main-menu li ul li a:hover,
.offcanvaswrap .offcanvaswrap_menus #menu-main-menu li ul li a:focus {
  color: #12c9fe;
}
.offcanvaswrap .offcanvaswrap_menus #menu-main-menu li.current-menu-item a {
  color: #12c9fe;
}
.js-offcanvas-close {
  color: #fff;
  background: #12c9fe;
}
/*--== Hedaer Area End ==--*/
/*--== Banner Area Start ==--*/
/*.entry-header-cover{
  background-image: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center center;
  color: @white;
  position: relative;
  padding-top: 235px;
  z-index: 1;

  &:after {
    .bg-gradient();
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    .opacity(0.9);
    top: 0;
    width: 100%;
    z-index: -2;
  }

  &:before {
    background-color: @black;
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    .opacity(0.2);
    top: 0;
    width: 100%;
    z-index: -1;
  }
}*/
#banner-area {
  background-image: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
  position: relative;
  padding-top: 235px;
  z-index: 1;
}
#banner-area:after {
  background: #12c9fe;
  background: linear-gradient(90deg, #12c9fe 0%, #0e70d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="@brand-color", endColorstr="@gradient-dark", GradientType=1);
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  filter: alpha(opacity=90);
  top: 0;
  width: 100%;
  z-index: -2;
}
#banner-area:before {
  background-color: #000;
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
  top: 0;
  width: 100%;
  z-index: -1;
}
#banner-area .banner-content-wrap {
  position: relative;
}
#banner-area .banner-content-wrap h1 {
  font-weight: 300;
  color: #fff;
}
#banner-area .banner-content-wrap h1 span {
  font-weight: 700;
}
#banner-area .banner-content-wrap .btn-brand {
  margin: 60px 0 90px;
}
#banner-area .banner-content-wrap .featured-products-area .feature-slider-warp .owl-stage-outer {
  padding-top: 90px;
}
#banner-area .banner-content-wrap .featured-products-area .feature-slider-warp .owl-stage-outer .owl-item .single-feature-product {
  position: relative;
}
#banner-area .banner-content-wrap .featured-products-area .feature-slider-warp .owl-stage-outer .owl-item .single-feature-product img {
  border-radius: 10px 10px 0 0;
}
#banner-area .banner-content-wrap .featured-products-area .feature-slider-warp .owl-stage-outer .owl-item.center {
  z-index: 2;
}
#banner-area .banner-content-wrap .featured-products-area .feature-slider-warp .owl-stage-outer .owl-item.center .single-feature-product {
  transform: scale(1.7);
}
/*--== Banner Area Start ==--*/
/*== Products Area Start ==*/
#products-area .products-filter-menu {
  background-color: #fff;
}
#products-area .products-filter-menu .filter-navbar ul {
  justify-content: space-between;
}
#products-area .products-filter-menu .filter-navbar ul li {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  line-height: 1.2;
  font-weight: 500;
  padding: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#products-area .products-filter-menu .filter-navbar ul li:hover {
  background: rgba(218, 230, 237, 0.8);
}
#products-area .products-filter-menu .filter-navbar ul li.current {
  background: rgba(218, 230, 237, 0.8);
}
#products-area .products-content-wrap {
  background-color: #dae6ed;
}
#products-area .products-content-wrap #productsContent {
  margin-top: -30px;
}
#products-area .products-content-wrap #productsContent .product-item {
  transform: scale(0);
  transition: all 0.4s ease;
}
#products-area .products-content-wrap #productsContent .product-item.scale-amn {
  transform: scale(1);
}
#products-area .products-content-wrap #productsContent .single-product-wrap {
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 30px;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
#products-area .products-content-wrap #productsContent .single-product-wrap:hover {
  transform: translateY(-5px);
}
#products-area .products-content-wrap #productsContent .single-product-wrap .product-thumb {
  height: 250px;
  overflow: hidden;
}
#products-area .products-content-wrap #productsContent .single-product-wrap .product-thumb img {
  height: 100%;
}
#products-area .products-content-wrap #productsContent .single-product-wrap .product-meta {
  padding: 16px 20px 17px;
}
#products-area .products-content-wrap #productsContent .single-product-wrap .product-meta h2 {
  margin-bottom: 17px;
}
#products-area .products-content-wrap #productsContent .single-product-wrap .product-meta .product-sub-meta {
  align-items: center;
  border-top: 1px solid #dae6ed;
  padding-top: 20px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  line-height: 1.2;
  font-weight: 700;
}
#products-area .products-content-wrap #productsContent .single-product-wrap .product-meta .product-sub-meta a {
  color: #0a1825;
}
#products-area .products-content-wrap #productsContent .single-product-wrap .product-meta .product-sub-meta a:hover {
  color: #12c9fe;
}
#products-area .products-content-wrap #productsContent .single-product-wrap .product-meta .product-sub-meta .product-price {
  color: #12c9fe;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
#products-area .products-content-wrap .product-loadmore-btn {
  margin-top: 80px;
}
/*== Products Area End ==*/
/*== We Are Best Area Start ==*/
#we-are-best-area .we-best-content-wrap {
  margin-top: -30px;
}
#we-are-best-area .we-best-content-wrap .single-we-best-item {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 30px;
}
#we-are-best-area .we-best-content-wrap .single-we-best-item .feature-logo {
  margin-bottom: 28px;
}
#we-are-best-area .we-best-content-wrap .single-we-best-item h3 {
  margin-bottom: 15px;
}
/*== We Are Best Area End ==*/
/*== Latest Blog Area Start ==*/
#latest-blog-area {
  background-color: #dae6ed;
}
#latest-blog-area .latest-blog-container {
  margin-top: -30px;
}
#latest-blog-area .latest-blog-container .single-blog-item {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  margin-top: 30px;
  color: #0a1825;
}
#latest-blog-area .latest-blog-container .single-blog-item:hover {
  transform: translateY(-5px);
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-header {
  position: relative;
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-header .blog-thumb {
  max-height: 230px;
  overflow: hidden;
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-header .post-author {
  position: absolute;
  left: 20px;
  bottom: 0;
  transform: translateY(50%);
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-header .post-author img {
  border-radius: 50%;
  border: 3px solid #12c9fe;
  height: 60px;
  width: 60px;
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-content {
  padding: 51px 20px 26px;
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-content .post-date {
  display: block;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  color: #aeaeae;
  text-transform: capitalize;
  margin-bottom: 18px;
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-content h2 {
  margin-bottom: 10px;
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 21px;
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-footer .btn-readmore {
  color: #0a1825;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-footer .blog-meta a {
  color: #3a3b3c;
  margin-left: 15px;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
}
#latest-blog-area .latest-blog-container .single-blog-item .blog-footer .blog-meta a:first-child {
  margin-left: 0;
}
#latest-blog-area .latest-blog-container .single-blog-item a:hover {
  color: #12c9fe !important;
}
#latest-blog-area .latest-blog-container .single-blog-item p {
  margin: 0;
}
/*== Latest Blog Area End ==*/
/*== Newsletter Area Start ==*/
#newsletter-area {
  background-color: #12c9fe;
  color: #fff;
  padding: 60px 0;
}
#newsletter-area h2 {
  color: #fff;
  margin: 0;
}
#newsletter-area .newsletter-form form {
  position: relative;
}
#newsletter-area .newsletter-form form input {
  background-color: #0197c3;
  border: none;
  border-radius: 150px;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  color: #fff;
  padding: 15px 155px 15px 30px;
  outline: none;
  width: 100%;
}
#newsletter-area .newsletter-form form button {
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  padding: 15px 40px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.4s ease-out;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
#newsletter-area .newsletter-form form button:hover {
  background-color: #0a1825;
  color: #fff;
}
#newsletter-area ::-webkit-input-placeholder {
  color: #fff;
}
#newsletter-area :-ms-input-placeholder {
  color: #fff;
}
#newsletter-area ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
#newsletter-area :-moz-placeholder {
  color: #fff;
  opacity: 1;
}
/*== Newsletter Area End ==*/
/*--== Footer Area Start ==-*/
#footer-area .footer-widgets-area {
  color: #999999;
}
#footer-area .footer-widgets-area .single-footer-widgets .about-widgets .footer-logo {
  max-width: 140px;
  margin-bottom: 20px;
}
#footer-area .footer-widgets-area .single-footer-widgets .about-widgets .social-icons {
  margin-top: 25px;
}
#footer-area .footer-widgets-area .single-footer-widgets .about-widgets .social-icons a {
  color: #0a1825;
  margin-right: 30px;
  transition: all 0.2s ease-out;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
#footer-area .footer-widgets-area .single-footer-widgets .about-widgets .social-icons a:hover {
  color: #12c9fe;
}
#footer-area .footer-widgets-area .single-footer-widgets .about-widgets .social-icons a:last-child {
  margin-right: 0;
}
#footer-area .footer-widgets-area .single-footer-widgets .widget-title {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #12c9fe;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 1.5px;
}
#footer-area .footer-bottom-area {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  color: #0a1825;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
}
#footer-area .footer-bottom-area .footer-menu ul li {
  display: inline;
  margin-right: 50px;
}
#footer-area .footer-bottom-area .footer-menu ul li:last-child {
  margin-right: 0;
}
#footer-area .footer-bottom-area .footer-menu ul li a {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #0a1825;
}
#footer-area .footer-bottom-area .copyright-area p {
  margin-bottom: 0;
}
#footer-area .footer-bottom-area .copyright-area a {
  color: #0a1825;
}
/*--== Footer Area End ==-*/
/*=====================
  All Page Style
======================*/
/*== About Page Start ==*/
#about-page-wrap .about-video-wrap {
  position: relative;
}
#about-page-wrap .about-video-wrap:after {
  background-color: #12c9fe;
  content: '';
  position: absolute;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
#about-page-wrap .about-video-wrap .video-content {
  z-index: 1;
}
#about-page-wrap .about-video-wrap .video-content .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#about-page-wrap .about-right-content {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
#about-page-wrap .about-right-content h2 {
  margin-top: -11px;
  margin-bottom: 10px;
}
#about-page-wrap .about-right-content .aboutlist {
  margin-top: 25px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
#about-page-wrap .about-right-content .aboutlist li {
  margin-bottom: 10px;
}
#about-page-wrap .about-right-content .aboutlist li span {
  margin-right: 15px;
}
#about-page-wrap .about-right-content .btn-brand {
  background-color: #12c9fe;
  color: #fff;
  margin-top: 17px;
}
#about-page-wrap .about-right-content .btn-brand:hover {
  background-color: #0a1825;
}
#technical-person {
  background-color: #dae6ed;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
#technical-person.section-padding {
  padding-bottom: 0;
}
#technical-person .technical-support .btn {
  background-color: #12c9fe;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 35px;
  padding: 20px 55px;
}
#technical-person .technical-support .btn:hover {
  background-color: #0a1825;
}
#testimonial-area .testimonial-content-wrap .single-testimonial-item {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  border: 2px solid #12c9fe;
  border-radius: 30px;
  padding: 30px 40px 85px;
  position: relative;
  margin-bottom: 23px;
}
#testimonial-area .testimonial-content-wrap .single-testimonial-item i.fa {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
  margin-bottom: 10px;
}
#testimonial-area .testimonial-content-wrap .single-testimonial-item .client-area {
  position: absolute;
  left: 20px;
  bottom: -25px;
}
#testimonial-area .testimonial-content-wrap .single-testimonial-item .client-area .client-pro-pic {
  display: block;
  margin-right: 15px;
}
#testimonial-area .testimonial-content-wrap .single-testimonial-item .client-area .client-pro-pic img {
  max-width: 120px;
  border: 5px solid #12c9fe;
  border-radius: 15px;
}
#testimonial-area .testimonial-content-wrap .single-testimonial-item .client-area .client-info {
  margin-top: 10px;
}
#testimonial-area .testimonial-content-wrap .single-testimonial-item .client-area .client-info h3 {
  margin-bottom: 0;
  line-height: 1.2;
}
#testimonial-area .testimonial-content-wrap .single-testimonial-item .client-area .client-info .client-degi {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 600;
}
#testimonial-area .testimonial-content-wrap #testimonialContent .owl-nav {
  margin-top: 40px;
}
#testimonial-area .testimonial-content-wrap #testimonialContent .owl-nav .owl-nav-item {
  outline: none;
  background-color: #12c9fe;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1;
  color: #fff;
  padding: 25px 40px !important;
  transition: all 0.4s ease-out;
}
#testimonial-area .testimonial-content-wrap #testimonialContent .owl-nav .owl-nav-item:hover,
#testimonial-area .testimonial-content-wrap #testimonialContent .owl-nav .owl-nav-item:active {
  background-color: #0197c3;
}
#testimonial-area .testimonial-content-wrap #testimonialContent .owl-nav .owl-nav-item.owl-prev {
  border-radius: 100px 0 0 100px;
}
#testimonial-area .testimonial-content-wrap #testimonialContent .owl-nav .owl-nav-item.owl-next {
  border-radius: 0 100px 100px 0;
}
/*== About Page End ==*/
/*RESPONSIVE STYLE */
/* Small Devices (Portrait Phones, 575px and Down) */
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .is_admin_bar_showing {
    top: 46px;
  }
  .is_admin_bar_showing.fixed {
    top: 0px;
  }
  #banner-area {
    padding-top: 150px;
  }
  #banner-area .banner-content-wrap .btn-brand {
    margin: 20px 0 0;
  }
  #products-area .products-filter-menu {
    padding: 10px 0;
  }
  #products-area .products-filter-menu .filter-navbar ul {
    justify-content: center;
    flex-wrap: wrap;
  }
  #products-area .products-filter-menu .filter-navbar ul li {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 5px 10px;
  }
  #products-area .products-content-wrap .product-loadmore-btn {
    margin-top: 30px;
  }
  #newsletter-area .newsletter-form form button {
    padding: 15px 20px;
  }
  #footer-area .footer-bottom-area {
    padding-bottom: 20px;
  }
}
/* Small Devices (Landscape Phones, 576px and up) */
@media only screen and (min-width: 576px) {
  #banner-area {
    padding-top: 150px;
  }
  #banner-area .banner-content-wrap .btn-brand {
    margin: 20px 0 0;
  }
  #products-area .products-filter-menu .filter-navbar ul {
    justify-content: center;
    flex-wrap: wrap;
  }
  #products-area .products-filter-menu .filter-navbar ul li {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 15px 10px;
  }
  #products-area .products-content-wrap .product-loadmore-btn {
    margin-top: 30px;
  }
  #footer-area .footer-bottom-area {
    padding-bottom: 20px;
  }
}
/* Medium Devices (Tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #products-area .products-content-wrap .product-loadmore-btn {
    margin-top: 50px;
  }
  #we-are-best-area .we-best-content-wrap .single-we-best-item {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
/* Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .is_admin_bar_showing,
  .is_admin_bar_showing.fixed {
    top: 32px;
  }
  #banner-area {
    padding-top: 235px;
  }
  #banner-area .banner-content-wrap .btn-brand {
    margin: 60px 0 90px;
  }
  #products-area .products-filter-menu .filter-navbar ul {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #products-area .products-filter-menu .filter-navbar ul li {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 30px;
  }
  #products-area .products-content-wrap .product-loadmore-btn {
    margin-top: 80px;
  }
  #we-are-best-area .we-best-content-wrap .single-we-best-item {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  #footer-area .footer-bottom-area {
    padding-bottom: 40px;
  }
}
/*Extra Large Devices (Desktops, 992px and up) */
@media only screen and (min-width: 1400px) {
  html,
  body,
  #banner-area,
  #banner-area div {
    height: 100%;
  }
  #banner-area .featured-products-area,
  #banner-area .featured-products-area * div {
    height: auto;
  }
  #banner-area .featured-products-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
