/*== We Are Best Area Start ==*/
#we-are-best-area {
  background-color: @section-bg;
  .we-best-content-wrap {
    margin-top: -30px;
    .single-we-best-item {
      .font-size(16);
      margin-top: 30px;

      .feature-logo {
        margin-bottom: 28px;
      }

      h3 {
        margin-bottom: 15px;
      }
    }
  }
}

/*== We Are Best Area End ==*/