<!-- SITE SCRIPT  -->

<!-- Jquery JS  -->
<script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>

<!-- Bootstrap JS  -->
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Owl-Carousel2 JS  -->
<script src="assets/vendor/OwlCarousel2/owl.carousel.min.js"></script>

<!-- ImagesLoaded JS  -->
<script src="assets/vendor/masonry-filter/imagesloaded.js"></script>

<!-- Masonry JS  -->
<script src="assets/vendor/masonry-filter/masonry-3.1.4.js"></script>

<!-- Masonry Filter JS  -->
<script src="assets/vendor/masonry-filter/masonry.filter.js"></script>

<!-- custom js: main custom theme js file  -->
<script src="assets/js/theme-main.min.js"></script>

<!-- custom js: custom js file is added for easy custom js code  -->
<!-- <script src="assets/js/custom.js"></script> -->

<!-- custom js: custom scripts for theme style switcher for demo purpose  -->
<!-- <script id="switcherhandle" src="assets/switcher/switcher.js"></script> -->
